/* General */
* {
    margin: 0;
    padding: 0;
}

input, select, button {
    color: #eee;
    background-color: #222;
    outline: none;
    border: 1px solid grey;
    padding: 7px;
    border-radius: 25px;
}

select {
    padding: 5px;
}

textarea {
    width: calc(100vw - 50px);
    color: #eee;
    background-color: #222;
    outline: none;
    border: 1px solid grey;
    padding: 5px;
}

header img, .toolbar img, .helpPageTrigger img, .patrols img {
    filter: invert();
}

.mobile *, .mobile {
    display: none;
}

.content {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 20px;
    padding-bottom: 20px;
}

/* Header */
header {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.8);
    padding: 15px 15px 0 0;
    z-index: 3;
    position: relative;
    background-color: #222;
}
header h1, header h2 {
    white-space: nowrap;
    padding-bottom: 15px;
    padding-left: 20px;
    width: 40%;
}
header span {
    position: absolute;
    display: flex;
    margin-top: 10px;
    right: 20px;
    top: 0.5em;
}
header span p {
    font-size: 1.5em;
    margin-right: 15px;
}
header span p:hover {
    color: #ccc;
    transition: 0.3s;
}

/* Infos */
.report {
    padding: 15px;
    background-color: #555;
    border-radius: 25px;
    margin-right: 10px;
}

/* Patrols */
div#sectors img {
    transform: translateY(30%);
}


/* Map */
div#map img {
    position: absolute;
    height: 100vh;
    transform: translateY(-68px);
    margin: 0;
    padding: 0;
    max-width: 100%;
}

div#map span {
    position: absolute;
}

/* Save */
div#save button {
    margin-top: 5px;
    padding: 10px;
}

/* Help */
.helpPageTrigger {
    position: absolute;
    right : 10px;
    top: 4.5em;
}

.helpPageTrigger:hover {
    color: #ccc;
    transition: 0.3s;
}

.helpPageTrigger img {
    transform: translateY(23%);
}

.help img {
    width: calc(100vw - 40px);
    max-width: 600px;
    border: 3px solid #eee;
    margin-top: 20px;
}

/* Menu */
.menu {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.hideOverflow {
    position: absolute;
    height: calc(100vh - 2.7em - 20px);
    width: 100vw;
    overflow: hidden;
}

.menuContent {
    z-index: 10;
    background-color: #333;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70vw;
    overflow: hidden;
}

.toolbar {
    display: inline-block;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.8);
    padding: 15px 15px 0 0;
    background-color: #222;
    height: 2.7em;
    width: 100%;
    text-align: center;
}

.toolbar * {
    display: inline-block;
    margin-top: -25px;
}

.toolbar img {
    position: absolute;
    width: 3em;
    top: 1.3em;
    left: 10px;
    transform: translateY(20%);
}

.toolbar h2 {
    margin-top: 0px;
}

.menuContent div {
    margin-right: 15px;
    margin: 15px 15px 0 0;
    font-size: 1.5em;
}


/* Bottom */
.github {
    position: absolute;
    z-index: 15;
    bottom: 25px;
    right: 15px;
}

.github * {
    display: inline-block;
}
.github img {
    margin-right: 7px;
    transform: translateY(25%);
}




@media all and (orientation: portrait) and (max-width: 1050px) {
    header {
        height: 2.7em;
    }
    .mobile *, .mobile {
        display: inherit;
    }
    .fullsize *, .fullsize {
        display: none;
    }
    div.content {
        margin-left: 10px;
    }
    textarea {
        width: calc(100vw - 30px);
    }
    .report {
        margin-right: 0px;
    }
    .helpPageTrigger {
        top: 4.3em;
    }
    .content {
        margin-top: 10px;
    }

    .help img {
        width: calc(100vw - 30px);
        margin-top: 30px;
    }
    
}

@media all and (orientation: landscape) and (max-width: 1060px) {
    header {
        height: 2.7em;
    }
    .mobile *, .mobile {
        display: inherit;
    }
    .fullsize *, .fullsize {
        display: none;
    }
    div.content {
        margin-left: 10px;
    }
    .menuContent {
        width: 30vw;
    }
}